.Compare {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  &__editor {
    display: flex;
    flex-direction: row;
  }

  textarea {
    align-self: end;
  }

  margin-bottom: 40px;
}

.Compare__text-area {
  text-align: center;
}

.texts {
  resize: none;
  margin-top: initial;
  font-size: 15px;
  background-color: rgba (255, 255, 255, 0.849);
  color: #000000;
  padding: 1%;
  height: 300px;
  width: 600px;

  &--variables {
    height: 100px;
    width: 600px;
  }
}

.outline {
  border: rgb(136, 136, 136) 1px solid;
}

.compiler__button {
  padding-bottom: 10px;
}
