
.tab-sizes{
    font-size: 15px;
}

.description {
    text-align: justify;
    display: block;
}

.radio-container{
    padding: 5px;
}
  
.radio-container > div{
    margin-left: 170px;
    margin-bottom: 20px;
}