
.tab-sizes{
    font-size: 15px;
}
 
.description {
    padding-top: 5%;
    text-align: justify;
    display: block;
}

.Color-green{
    padding: 3px 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 18%;
    background-color: rgb(126, 170, 39);
    color: white;
}

.Color-yellow{
    padding: 3px 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 18%;
    background-color: rgb(76, 43, 223);
    color: white;
}

.Color-red{
    padding: 3px 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 18%;
    background-color: red;
    color: white;
}