.code {
    text-align: center;
}

.code-TextArea {
    width: 600%;
    height: 400px;
    cursor: not-allowed;
    resize: none;
}

.code-TextArea-2 {
    width: 600%;
    height: 100px;
    cursor: not-allowed;
    resize: none;
}

.code-header {
    background-color: #f4f8f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(82, 82, 82);
}

.code-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.code-container > div {
    width: 10%;
    padding: 10px;
}

.code-container > div:first-child {
    margin-right: 500px;
    margin-left: -150px;

}

.code-boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
